%h2 Change password
- form_for @logged_in_user, :url => {:id => @logged_in_user.pretty_url, :action => 'update', :controller => 'users', :only_path => false, :protocol => determine_protocol} do |f|
  %table.form.round
    %tr
      %th= f.label :current_password
      %td= f.password_field :current_password, :value => ''
    %tr
      %th= f.label :password
      %td= f.password_field :password, :value => ''
    %tr
      %th= f.label :password_confirmation
      %td= f.password_field :password_confirmation, :value => ''
    %tr
      %th &nbsp;
      %td= f.submit "Update"
  = f.error_messages :header_message => "", :message => "There were problems with the following:"
