%h2 Users
%table.list.round
  %tr.header
    %th
    %th Name / E-mail
    %th Role
    %th
    %th
  - @users.each do |u|
    - if @users.last == u then haml_concat '<tr class="last">' else haml_concat "<tr>" end
    %td.image_cell= gravatar_for u, :size => '30'
    %td.name_cell= u.name
    %td.role_cell= u.role.capitalize
    - if u.id == @logged_in_user.id or u.id == @users.first.id
      %td.image_cell
    - else
      - if u.role == "admin"
        %td.image_cell
          %a{:href => "/users/demote/#{u.pretty_url}", :onclick => "return confirm('Demote #{u.name} to regular user?');"}
            %img{:src => '/images/demote.png', :alt => 'Demote', :class => 'demote'}
      - else
        %td.image_cell
          %a{:href => "/users/promote/#{u.pretty_url}", :onclick => "return confirm('Promote #{u.name} to admin?');"}
            %img{:src => '/images/promote.png', :alt => 'Promote', :class => 'promote'}
    - if u.id == @logged_in_user.id or u.id == @users.first.id
      %td.image_cell
    - else
      %td.image_cell
        %a{:href => "/users/destroy/#{u.pretty_url}", :onclick => "return confirm('Delete user #{u.name}?');"}
          %img{:src => '/images/delete.png', :alt => 'Delete', :class => 'delete'}
    - haml_concat '</tr>'

- if @logged_in_user.role == 'admin'
  %h2 Invites
  - form_for @invite, :url => { :action => "create_invite" }  do |f|
    %table.list.round
      %tr.header
        %th
        %th Name / E-mail 
        %th
      - @invites.each do |i|
        %tr
          %td.image_cell= gravatar_for i, :size => '30'
          %td.name_cell= i.name
          %td.image_cell
            %a{:href => "/users/destroy_invite/#{i.id}", :onclick => "return confirm('Remove invite on #{i.name}?');"}
              %img{:src => '/images/delete.png', :alt => 'Delete', :class => 'delete'}

      %tr.last
        %td
        %td
          %table.inner.content_invite
            %tr
              %td= f.text_field :name
              %td= f.submit "Invite"
        %td
    = f.error_messages :header_message => "", :message => "There were problems with the following:"

  #delete.tooltip.round
    %p Delete
  #promote.tooltip.round
    %p Promote to admin
  #demote.tooltip.round
    %p Demote to regular user

  :javascript
    $$('.delete').each(function(n) {
      new Tooltip(n, 'delete');
    })
    $$('.promote').each(function(n) {
      new Tooltip(n, 'promote');
    })
    $$('.demote').each(function(n) {
      new Tooltip(n, 'demote');
    })
