%h2 Login
- form_tag '/users/authenticate' do
  %table.form
    %tr
      %th= label_tag :name
      %td= text_field_tag :name
    %tr
      %th= label_tag :password
      %td= password_field_tag :password
    %tr
      %th &nbsp;
      %td= submit_tag "Login"
    %tr
      %td{:class => 'last', :colspan => '2'}
        Don't have a user account yet?
        = link_to 'Sign up!', '/signup'
