%h2 Login
- form_tag url_for(:action => 'authenticate', :controller => 'users', :only_path => false, :protocol => protocol)  do
  %table.form.round
    %tr
      %th
      %td
        - flash.each do |key, value|
          %div(class = "flash #{key} no_space")= value
    %tr
      %th= label_tag 'Name / e-mail'
      %td= text_field_tag :name
    %tr
      %th= label_tag :password
      %td= password_field_tag :password, ''
    %tr
      %th &nbsp;
      %td= submit_tag "Login"
%p
  Don't have a user account yet?
  = link_to 'Sign up!', '/signup'

