%h2 Sign up

- form_for @user, :url => {:controller => 'users', :only_path => false, :protocol => determine_protocol} do |f|
  %table.form.round
    %tr
      %th= f.label 'Name / e-mail'
      %td= f.text_field :name
    %tr
      %th= f.label :password
      %td= f.password_field :password, :value => ''
    %tr
      %th= f.label :password_confirmation
      %td= f.password_field :password_confirmation, :value => ''
    %tr
      %th &nbsp;
      %td= f.submit "Sign up"
  = f.error_messages :header_message => "", :message => "There were problems with the following:"

%p
  Already have an account?
  = link_to 'Login now!', '/login'
