%h2 Sign up!

- form_for @user do |f|
  = f.error_messages :header_message => "", :message => "There were problems with the following:"
  %table.form.round
    %tr
      %th
      %td
        - flash.each do |key, value|
          %div(class = "flash #{key} no_space")= value
    %tr
      %th= f.label 'Name / e-mail'
      %td= f.text_field :name
    %tr
      %th= f.label :password
      %td= f.password_field :password
    %tr
      %th= f.label :password_confirmation
      %td= f.password_field :password_confirmation
    %tr
      %th &nbsp;
      %td= f.submit "Sign up"

%p
  Already have an account?
  = link_to 'Login now!', '/login'
