!!!
%html{:lang => "en"}
  %head
    %title PowerDMS
    %meta{:charset => "utf-8"}
    %meta{:name => "Description", :content => "PowerDMS: Powerful DNS Management System for PowerDNS"}
    %meta{:name => "Keywords", :content => "PowerDMS, PowerDNS, Management, System, Web, Interface, DNS, Powerful"}
    %meta{:name => "Robots", :content => "All"}
    %meta{:name => "Author", :content => "Frode Petterson"}
    %link{'rel' => 'shortcut icon', :href => '/images/icon.png', 'type' => "image/png"}
    %link{'rel' => 'stylesheet', :href => '/stylesheets/screen.css', :media => 'screen, projection'}    
    /[if IE]
      %link{'rel' => 'stylesheet', :href => '/stylesheets/ie.css', :media => 'screen, projection'}
    %link{'rel' => 'stylesheet', :href => '/stylesheets/custom.css', :media => 'screen, projection'}
  %body
    #wrapper
      - if @logged_in_user
        #user_details
          = gravatar_for @logged_in_user
          %p= @logged_in_user.name
          %ul
            - if @logged_in_user.role == 'admin'
              %li= link_to 'Manage users', '/users'
            %li= link_to 'Change password', :id => @logged_in_user.pretty_url, :action => 'edit'
            %li= link_to 'Logout', '/logout', :confirm => 'Are you sure you wish to logout?'
      #header
        %header
          %h1 Power<span class="darkblue">DMS</span>
          %p.darkblue Powerful DNS Management System
      - flash.each do |key, value|
        %div(class = "flash #{key} round")= value 
      #content
        = yield
